
<div id = "header">

    <h1><%= link_to 'WesEvents', controller: 'homepage' %></h1>
    <div id = "navbar">
        <button class = "hollowbutton"> <%= link_to 'All Events', controller: 'events', :show_all => true %> </button>
        <button class = "createbutton"> <%= link_to 'Create New Event', new_event_path(:redirect_to => 'homepage') %></button>
    </div>

</div>

<div id = "calendar">

    <% # Renders the month calendar %>
    <%= month_calendar events: @events do |date, events| %>
        <% @month = date.strftime('%m') %>
        <% unless params[:start_date].nil? %>
                <div class = "calendardate">
                    <%= link_to '' + date.strftime('%d') + '', events_path(:date => date.strftime('%m/%d/%y')) %>
                </div>
                <% events.each do |event| %>
                    <% # Display event if one on that day %>
                    <div class = "calendarevent">
                        <%= link_to event.eventName, event %>
                    </div>
                <% end %>
        <% else %>
                <div class = "calendardate">
                    <%= link_to '' + date.strftime('%d') + '', events_path(:date => date.strftime('%m/%d/%y')) %>
                </div>
                <% events.each do |event| %>
                    <% # Display event if one on that day %>
                    <div class = "calendarevent">
                        <%= link_to event.eventName, event %>
                    </div>
                <% end %>
            <% end %>
    <% end %>
    <% # Show return to current month if not on current month %>
    <!-- <% unless params[:start_date].nil? %>
        <% unless Time.now.strftime('%m') == params[:start_date][5,2] %>
            <p> <%= link_to 'Return to Current Month', controller: 'homepage' %> </p>
        <% end %>
    <% else %>
        <% unless @month == Time.now.strftime('%m') %>
            <p> <%= link_to 'Return to Current Month', controller: 'homepage' %> </p>
        <% end %>
    <% end %> -->

</div>

<div id = "footer">

</div>
