<%= form_for @event do |f| %>
    <% # If any errors, show all of them here %>
	<% if @event.errors.any? %>
    	<div id="error_explanation">
      	<h2>
            Whoops! Something wrong with your event.
      	</h2>
      	<p>
        	<% @event.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
        	<% end %>
      	</p>
    	</div>
  	<% end %>

<div class = "formall">
  <div class = "formgroup">
    <span class = "formlabel"><%= f.label :'Event Name' %></span><br>
    <span class = "forminput"><%= f.text_field :eventName, :required => true, :class => "forminput" %></span>
  </div>

  <div class = "formgroup">
    <span class = "formlabel"><%= f.label :Location %></span><br>
    <span class = "forminput"><%= f.text_field :location, :required => true, :class => "forminput" %></span>
  </div>

  <div class = "formgroup">
	<span class = "formlabel"><%= f.label :'Event Start' %></span><br>
	<span class = "forminput"><%= f.time_select :startTime, :default => {:hour => (Time.now.strftime("%k").to_i + 1), :minute => Time.now.strftime("%M")}, :ampm => true, :minute_step => 15 %></span>
	&emsp;
	<span class = "forminput"><%= f.date_select :startDay, :order => [:month, :day, :year], :class => "forminput" %></span>
  </div>

  <div class = "formgroup">
	<span class = "formlabel"><%= f.label :'Event End' %></span><br>
	<span class = "forminput"><%= f.time_select :endTime, :default => {:hour => (Time.now.strftime("%k").to_i + 1), :minute => Time.now.strftime("%M")}, :ampm => true, :minute_step => 15 %></span>
	&emsp;
	<span class = "forminput"><%= f.date_select :endDay, :order => [:month, :day, :year], :class => "forminput" %></span>
  </div>

  <div class = "formgroup">
    <span class = "formlabel"><%= f.label :Description %></span><br>
    <span class = "forminput"><%= f.text_area :description, :required => true, :class => "forminput"  %></span>
  </div>

  <div class = "formgroup">
    <span class = "formlabel"><%= f.label :'Facebook Link' %></span><br>
    <span class = "forminput"><%= f.text_field( :facebookLink, :class => "forminput" ) %></span>
  </div>

  <div class = "formgroup">
    <%= f.submit :class => "submitbutton" %>
  </div>

 </div>



<% end %>
