<p>
  <strong>Event Name:</strong>
  <%= @event.eventName %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Event Start:</strong>
  <%= @event.startTime.strftime('%I:%M:%S %p') %>
  <%= @event.startDay.strftime('%m/%d/%y') %>
</p>

<p>
  <strong>Event End:</strong>
  <%= @event.endTime.strftime('%I:%M:%S %p') %>
  <%= @event.endDay.strftime('%m/%d/%y') %>
</p>

<p>
  <strong>Descirption:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Facebook Event Link:</strong>
  <%= @event.facebookLink %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
