
<div id = "header">

    <h1><%= link_to 'WesEvents', controller: 'homepage' %></h1>
    <div id = "navbar">
        <button class = "hollowbutton"> <%= link_to 'All Events', controller: 'events', :show_all => true %> </button>
        <button class = "createbutton"> <%= link_to 'Create New Event', new_event_path(:redirect_to => 'homepage') %></button>
    </div>

</div>

<div id = "titlebar">

    <button class = "hollowbutton">
        <%= link_to '<', events_path(:date => @event.startDay.strftime('%m/%d/%y')) %>
    </button>
    <h2><%= @event.eventName %></h2>
    <button class = "dummy">></button>

</div>


<div id = "showlist">

    <h4>
      <span class = "showlabel">Location:</span>
      <%= @event.location %>
    </h4>

    <h4>
      <span class = "showlabel">Event Start:</span>
      <%= @event.startTime.strftime('%I:%M:%S %p') %>
      <%= @event.startDay.strftime('%m/%d/%y') %>
    </h4>

    <h4>
        <span class = "showlabel">Event End:</span>
      <%= @event.endTime.strftime('%I:%M:%S %p') %>
      <%= @event.endDay.strftime('%m/%d/%y') %>
    </h4>

    <h4>
        <span class = "showlabel">Description:</span>
      <%= @event.description %>
    </h4>
    <% if @event.facebookLink == "" %>
        <h4>
            <span class = "showlabel">Facebook Link:</span>
            <a href = '<%= @event.facebookLink %>' target = '_blank'>Event Facebook Page<a/>
        </h4>
    <% end %>

    <button id = "showedit" class = "createbutton"><%= link_to 'Go to calendar', :controller=>"homepage", :start_date => @event.startDay %></button>
    <button id = "showedit" class = "hollowbutton"><%= link_to 'Edit', edit_event_path(@event) %></button>


</div>
